mixin accordion(data)
  - items = data.items || null
  - contentClass = data.contentClass || ''
  - type = data.type || ''
  .accordion
    .accordion__list
      if items
        each item in items
          .accordion__item
            .accordion__head
              .accordion__info
                .accordion__name=item.name
              svg(class="svg-icon accordion__arrow" viewBox="0 0 1024 1024" width="16" height="16"): use(xlink:href="#svg-arrow-down")
            .accordion__body
              .accordion__content(class=`${contentClass}`)
                if (type === 'contact')
                  if (item.phone)
                    div(class=`${contentClass}__item`)
                      div(class=`${contentClass}__label`) Телефон:
                      div(class=`${contentClass}__value`)
                        a(href=`tel:${item.phone.href}`)=item.phone.name
                  if (item.email)
                    div(class=`${contentClass}__item`)
                      div(class=`${contentClass}__label`) E-mail:
                      div(class=`${contentClass}__value`)
                        a(href=`mailto:${item.email}`)=item.email
                  if (item.site)
                    div(class=`${contentClass}__item`)
                      div(class=`${contentClass}__label`) Сайт:
                      div(class=`${contentClass}__value`)
                        a(href=`${item.site}`)=item.site
