mixin accordion(data)
  - items = data.items || null
  - contentClass = data.contentClass || ''
  - type = data.type || ''
  .accordion
    .accordion__list
      if items
        each item in items
          .accordion__item
            .accordion__head
              .accordion__info
                .accordion__name=item.name
              svg(class="svg-icon accordion__arrow" viewBox="0 0 1024 1024" width="16" height="16"): use(xlink:href="#svg-arrow-down")
            .accordion__body
              .accordion__content(class=`accordion-${type}`)
                if (type === 'contact')
                  div(class=`accordion-${type}__list`)
                    div(class=`accordion-${type}__item`)
                      div(class=`accordion-${type}__name`) Общие вопросы:
                      div(class=`accordion-${type}__value`)
                        ul
                          li Телефон <a href="tel:+795984984">+795984984</a>
                          li E-mail <a href="mailto:bosch@by.bosch.com">bosch@by.bosch.com</a>
                    div(class=`accordion-${type}__item`)
                      div(class=`accordion-${type}__name`) Промышленные отопительные установки:
                      div(class=`accordion-${type}__value`)
                        ul
                          li Адрес: ул. Тимирязева, 67-701,<br>Минск, Республика Беларусь, 220035
                          li Телефон <a href="tel:+795984984">+795984984</a>
                          li E-mail <a href="mailto:bosch@by.bosch.com">bosch@by.bosch.com</a>
