mixin news-card(data)
  - date = data?.date || '31 декабря 9999';
  - title = data?.title || 'Заголовок новости'
  - description = data?.description || 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'
  - image = data?.image || null
  - link = data?.link || null

  .news-card
    figure.news-card__figure
      if link
        a(href=link).news-card__clickable
      else
        a(href=`news-detail.html`).news-card__clickable
      .news-card__image
        if image
          img(src=image)
    .news-card__info
      .news-card__subtitle
        if date
          .news-card__date=date
      if title
        h3.news-card__title
          span=title
          if link
            a(href=link).news-card__clickable
          else
            a(href=`news-detail.html`).news-card__clickable
      if description
        .news-card__description=description